.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 93vh;
}

.title {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.autocomplete_container {
  max-width: 600px;
  width: 100%;
}

.autocomplete_input {
  width: 100%;
  height: 50px;
  font-size: 1.5rem;
  border: 1px solid #ccc;
  box-shadow: rgb(16 100 73) 6px 7px 10px 2px;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .autocomplete_input {
    height: 40px;
    font-size: 1.2rem;
  }
}
